body {
    background-color: #050319;
    margin: 0px;
    cursor: pointer;
}

img {
    background-image: url('pagina.png'); /* Ruta a tu imagen */
    background-repeat: repeat; /* Repetir la imagen en ambas direcciones */
    width: 1000px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
}

.bloque {
    color: white;
    text-align: center;
    
}
.l1{

}
.l2{

}
.l3 {

}
.l31 {

}
.l32 {

}

.l4 {

}
