body {
    background-color: #050319;
    margin: 0px;
    cursor: pointer;
}

img {
    background-image: url(https://github.com/Eriiick9/Pagina-web/tree/master/contenido); /* Ruta a tu imagen */
    background-repeat: repeat-x; /* Repetir la imagen en ambas direcciones */
   
}

.bloque {
    color: white;
    text-align: center;
    
}
.l1{

}
.l2{

}
.l3 {

}
.l31 {

}
.l32 {

}

.l4 {

}
